<%= render "/layouts/navbar" %>

  <div class="container-fluid">
    <div class="row">
      <nav class="custom-navbar col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky">
          <h4 class="my-3">Budget</h4>
          <div class="slider" id="price-slider"></div>
            <input type="hidden" id="min-price">
            <input type="hidden" id="max-price">
          <h4 class="my-3">Trip Styles</h4>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="cultural" id="cultural">
              <label class="form-check-label" for="cultural">Cultural</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="adventure" id="adventure">
              <label class="form-check-label" for="adventure">Adventure</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="romantic" id="romantic">
              <label class="form-check-label" for="romantic">Romantic</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="gastronomic" id="gastronomic">
              <label class="form-check-label" for="gastronomic">Gastronomic</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="ecotourism" id="ecotourism">
              <label class="form-check-label" for="ecotouridm">Eco-tourism</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="luxury" id="luxury">
              <label class="form-check-label" for="luxury">Luxury</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="accessible" id="accessible">
              <label class="form-check-label" for="accessible">Accessible</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="party" id="party">
              <label class="form-check-label" for="party">Party</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="humanitarian" id="humanitarian">
              <label class="form-check-label" for="humanitarian">Humanitarian</label>
            </div>
        </div>
      </nav>
    <div>
</div>
