

<table>
  <tbody data-controller="sortable" data-sortable-tripid-value=<%= trip.id %>>
    <% trip.ordered_tripdestinations.each do |trip_destination| %>
      <tr>
        <td style="width: 0;"><i class="fa-solid fa-grip-vertical"></i></td>
        <td><%= trip_destination.destination.title %></td>
        <td style="width: 0;"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
      </tr>
    <% end %>
  </tbody>
</table>
