.range-label {
  display: inline-block;
  margin: 10px;
  font-size: 10px;
}

.range-slider {
  width: 100%;
  text-align: center;
  position: relative;
  height: 6em;

  input[type=number] {
    border: 2px solid $yellow;
    text-align: center;
    margin-top: 15px;
    font-size: 1.6em;
    -moz-appearance: textfield;
    border-radius: 5px;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type=number]:invalid,
  input[type=number]:out-of-range {
    border: 2px solid #ff6347;
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $dark-green;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #2497e3;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #2497e3;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: $green;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid $very-dark-green;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: $green;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid $very-dark-green;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower,
  input[type=range]::-ms-fill-upper {
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
  }
}
.range-slider svg,
.range-slider input[type=range] {
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 25px;
}
