

.accordion-button {
  padding: 8px 8px;
}

#dnd_icon {
  margin-right: 10px;
}

.accordion-button {
  padding: 2px 8px;
  p {
    font-size: 16px;
    margin: 2px 0;
  }
}

.accordion-button:not(.collapsed) {
  background-color: white
}

.accordion-button:focus {
  outline: none;
}

.destination_description label {
  height: 46px;
}

.destination_description {
  label {
    margin: 0;
    height: 26px;
  }
  textarea {
    height: 100px;
  }
}

.destination_title {
  display: flex;
  justify-content: space-between;
  label {
    margin: 0;
    margin-right: 10px;
    height: 26px;
  }
  input {
    height: 26px;
  }
}

.accordion-body {
  background-color: white
}


.edit_trip {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  .trip_title {
    display: flex;
    justify-content: space-between;
    label {
      margin: 0;
      margin-right: 10px;
      height: 26px;
      width: 60px;
    }
    input {
      font-weight: bold;
      height: 26px;
    }
  }

  .trip_comment textarea {
    height: 100px;
  }

}



.my_trips_planner_tripper {
  display: flex;
  justify-content: space-between;


  .my_trips_planner, .my_trips_tripper {
    background-color: white;
    display: flex;
    padding: 6px;
    width: 180px;
    border-radius: 30px;
    background-color: white;
    margin: 10px 0;
    h1 {
      font-size: 16px;
      font-weight: 800;
      margin: 0;
    }
    p {
      margin: 0;
      font-size: 14px;
      color: $very-dark-green;
    }
  }
  .my_trips_planner_infos, .my_trips_tripper_infos {
    margin-left: 6px;
  }

  .my_trips_planner {
    border: 2px solid $yellow;
  }

  .my_trips_tripper {
    margin-right: 5px;
    border: 2px solid $dark-green;
  }
}
