.navbar-nav a {
  color: white;
  text-decoration: none;

  &:hover {
    color: $very-dark-green;
  }
}

.navbar-heading {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  margin-left: 10px;
  position: absolute;
  top: 10;
  left: 150px;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px; /* Nouvelle hauteur souhaitée */
  margin: auto;
}

nav {
  background-color: #3FA7A0;
}

.navbar-top {
  margin-top: 25px;
}
