.searchbar {
  height: 45px;
  box-shadow: 0 0 0 2px $yellow;
}

.searchbar-container{
  background-color: $dark-green;
  display: flex;
  justify-content: center;
}

.w-70 {
  width: 70%;
}

.w-15 {
  width: 15%;
}

.searchbar-wrapper {
  flex: 2;
  position: relative;

}

.searchbar-button {
  position: absolute;
  left: 72.5%;
  height: 45px;
}
