.searchbar {
  height: 45px;
  box-shadow: 0 0 0 2px $yellow;
}

.searchbar-container{
  background-color: $dark-green;
  display: flex;
  justify-content: center;
}

.w-70 {
  width: 70%;
}

.w-15 {
  width: 15%;
}

.searchbar-wrapper {
  width: 750px;
  position: relative;
}

.searchbar-button {
  position: absolute;
  right: 10%;
  top: 0;
  height: 45px;
}
