.sidebar {
  padding-bottom: 25px;
  position: sticky;
  background-color: $very-light-green;
}

.sidebar h4{
  text-align: center;
  margin-top: 15px;
  color: $green;
  font-weight: bold;
}

.sidebar p {
  text-align: center;
}

.form-check {
  padding: 3px;
}

.form-check-input {
  display: none;
}

.form-check-label {
  position: relative;
}

.form-check-input + .form-check-label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid $yellow;
  background-color: #ffffff;
  border-radius: 3px;
  margin: 0 10px;
  vertical-align: middle;
  cursor: pointer;
}

.form-check-input:checked + .form-check-label::before {
  background-color: $green;
  border-color: grey;
}

.sidebar .form-check-input:checked + .form-check-label::after {
  left: 10px;
  top: 3px;
}
