// .my_trip_container {
//   display: flex;
  //   justify-content: space-between;
  //   bottom: 10%;
  //   position: absolute;
  //   top: 115px;
// }

#col1, #col3 {
  height: calc(100vh - 175px);
}

#col2 {
  height: calc(100vh - 240px);
}

#col1, #col2, #col3 {
  overflow-y: auto;
  scroll-margin-bottom: 0;
}

.row {
  width: 100%;
  margin: 0px;
}

.col-md-4 {
  padding: 0px;
}

#my_conversation li {
  background-color: rgb(203, 203, 203);
}

.messages {
  scroll-margin-bottom: 0;
}

.right {
  margin: 5px 5px 5px 40px;
}

.left {
  margin: 5px 40px 5px 5px;
}

.message {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  justify-content: flex-end;
  scroll-margin-bottom: 0;

  &>p {
    margin: 0px;
  }
}

.scrollable-content {
  margin: 0 4px;
}

.scrollable-content ul {
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0px;
  li {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

#new_messages, #btn_new_messages {
  height: 8%;
  position: absolute;
  bottom: 50px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}

#new_messages {
  left: 34%;
  width: 29%;
}

#btn_new_messages {
  width: 3%;
  left: 63%;
}

.my_trips_destinations table {
  border-collapse: collapse;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

.my_trips_destinations td,.my_trips_destinations th {
  border: 1px solid #000;
  padding: 2px 8px;
  background-color: white;
}
