  <nav class="navbar navbar-light p-2 border-bottom border-gray" style="background-color: #3FA7A0;">
    <%= link_to '#' do %>
      <%= image_tag('logo.png', width: 150, height: 150) %>
    <% end %>
      <h2 class="navbar-heading">Find your next adventure</h2>
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li id="navbar-link"><button type="button" class="button m-4"><%= link_to 'Sign in', '#' %></li></button>
      </ul>
    </nav>
