<nav>
  <div class="navbar-top">
    <a href="<%= root_path %>">
      <%= image_tag('logo.png', width: 150, height: 150) %>
    </a>
    <h2 class="navbar-heading">Find your next adventure</h2>
    <ul class="nav navbar-nav navbar-right ml-auto">
      <li id="navbar-link"><button type="button" class="button m-4"><%= link_to 'Sign in', '#' %></button></li>
    </ul>
  </div>
</nav>
